{% extends 'base.html.twig' %}

{% block title %}Welcome | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="homepage container">
        <div class="jumbotron text-center">
            <h1><a href="{{ path('homepage') }}">⛅&nbsp;Harvest, Forecast &amp; Slack extra tools</a></h1>

            <p>
                Some tools to improve the use of ⛅ <a href="https://www.getharvest.com/forecast">Forecast</a> and <a href="https://www.getharvest.com/">Harvest</a>, and connect them to <a href="https://slack.com/">Slack</a>.
            </p>

            <p>
                <a href="{{ path('connect_harvest') }}" class="btn btn-primary">🔓&nbsp;&nbsp;Connect with Forecast</a>
            </p>

            {% if forecast_account_required is defined %}
                <p class="alert alert-warning mt-2">😅 Doh, you need at least a Forecast account to use this tool!</p>
            {% endif %}

            <a class="scroll-down" href="#features"></a>
        </div>

        <h3 class="text-center mt-5 mb-4" id="features">Main features</h3>

        <div class="container content-row pb-5">
            <div class="row">
                <div class="col-md-4 py-2 p-sm-2">
                    <div class="card card-body h-100 bg-light">
                        <img src="/images/reminder.svg" class="card-img-top" alt="Forecast reminder">
                        <h5 class="car-title">Slack Forecast reminder</h2>
                        <p class="card-text text-justify">
                            Set up and configure a Slack reminder for your organization's Forecast. Each day, your
                            team will get a nicely formatted notification directly in the Slack Channel of your choice.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 py-2 p-sm-2">
                    <div class="card card-body h-100 bg-light">
                        <img src="/images/public-forecast.svg" class="card-img-top" alt="Public Forecast">
                        <h5 class="car-title">Public Forecast</h2>
                        <p class="card-text text-justify">
                            Share your Forecast outside of your organization, for a specific client or project. In a
                            living organization, forecasts tend to change and be adapted. Share the live status of your
                            Forecast with your clients!
                        </p>
                    </div>
                </div>

                <div class="col-md-4 py-2 p-sm-2">
                    <div class="card card-body h-100 bg-light">
                        <img src="/images/standup-reminder.svg" class="card-img-top" alt="Stand-up meeting reminder">
                        <h5 class="car-title">Stand-up meeting reminder</h2>
                        <p class="card-text text-justify">
                            Configure per-channel stand-up meeting reminder, to ping in Slack the right people, every
                            morning when it is time for the meeting. Get your team do its daily scrum!
                        </p>
                    </div>
                </div>

                <div class="col-md-4 py-2 p-sm-2">
                    <div class="card card-body h-100 bg-light">
                        <img src="/images/invoicing.svg" class="card-img-top" alt="Invoicing process">
                        <h5 class="car-title">Strong invoicing process</h2>
                        <p class="card-text text-justify">
                            Get insights while invoicing! These tools help compare Forecast schedules and Harvest
                            timesheets. Also, you will notice when invoices do not match your contractual requirements.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 py-2 p-sm-2">
                    <div class="card card-body h-100 bg-light">
                        <img src="/images/zen.svg" class="card-img-top" alt="Mass imports">
                        <h5 class="car-title">Mass insert time entries</h2>
                        <p class="card-text text-justify">
                            Mass insert timesheet and forecast entries, for several people at once. This can be useful
                            to schedule public holidays, for example, and save the pain of repeating the same operation
                            many times.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 py-2 p-sm-2">
                    <div class="card card-body h-100 bg-light">
                        <img src="/images/timesheet-reminders.svg" class="card-img-top" alt="Harvest timesheet Slack reminders">
                        <h5 class="car-title">Slack Timesheets reminders</h2>
                        <p class="card-text text-justify">
                            At the beginning of each month, automatically send a gentle Slack direct message to ask your
                            team to fill the incomplete timesheets and allow to copy timesheets from the Forecast schedule
                            to Harvest timesheets.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center mt-5">Questions</h3>

        <div class="card border-0 pt-3">
            <div class="card-body">
                <h5>Which data do you collect and store?</h5>
                <p>
                    The only thing that we store is your Harvest/Forecast/Slack tokens, which are solely used at run time to
                    perform the features of this tool. Our website only uses Forecast or Harvest APIs at the time of sending
                    Slack reminders, stand-up reminders, or when running an invoicing process.
                </p>
                <p>
                    Some of the data retrieved from Harvest APIs is temporarily cached in redis, in order to make the app less
                    APIs-dependant, but it is a short-lived cache that is cleared upon logout.
                </p>
                <p>
                    There is no usage tracker on this website.
                </p>
            </div>

            <div class="card-body">
                <h5>What is your commitment for privacy?</h5>
                <p>
                    Your privacy is important to us. Shortly said, we do only store the strictly required information to deliver
                    our service. We do not and will never share any of your information to others, except required to by law.
                    There is no usage tracker on this website.
                </p>
                <p>
                    You can read our detailed <a href="{{ path('privacy_policy') }}">Privacy Policy</a> for detailed explanations.
                </p>
            </div>

            <div class="card-body">
                <h5>Which libraries do you use to talk with Harvest, Forecast and Slack?</h5>
                <p>
                    We use three PHP libraries: <a href="https://github.com/jolicode/forecast-php-api">forecast-php-api</a>,
                    <a href="https://github.com/jolicode/harvest-php-api">harvest-php-api</a> and
                    <a href="https://github.com/jolicode/slack-php-api">slack-php-api</a>. All three are based on
                    OpenAPI specifications and generated using an open-source software crafted by JoliCode,
                    <a href="https://jane.readthedocs.io/en/latest/">Jane</a>.
                </p>
                <p>
                    While Forecast does not have a public API, the Harvest client must be, at the time of
                    writing, one of the most complete, exhaustive and up-to-date API client for Harvest.
                </p>
            </div>

            <div class="card-body">
                <h5>Can I run this software on my own server?</h5>
                <p>
                    Yes, it is free software. Go ahead and use it: <a href="https://github.com/jolicode/forecast-tools">Forecast tools on Github</a>.
                </p>
            </div>

            <div class="card-body">
                <h5>How reliable is this software?</h5>
                <p>
                    We have built these tools for our own use and we use it on a daily basis, which means that we do our best
                    for these tools to work. However, we do not provide professional support for these tools. See our
                    <a href="{{ path('terms') }}">Terms of Service</a> for detailed explanations.
                </p>
            </div>

            <div class="card-body">
                <h5>Credits?</h5>
                <p>
                    This software is written by <a href="https://jolicode.com/">JoliCode</a>, a French web development company.
                    The illustrations on this page are provided free of charge by Sleekbundle in the
                    <a href="https://sleekbundle.com/pulse-illustration-kit/" rel="nofollow">Pulse illustration kit</a>. The
                    Github corner is provided by <a href="https://github.com/tholman/github-corners" rel="nofollow">Tim Holman</a>.
                </p>
                <p>
                    We are not affiliated with or endorsed by Harvest or Slack, were you kidding?
                </p>
                <p>
                    You can contact us at
                    <a href="mailto:forecast-tools@jolicode.com">forecast-tools@jolicode.com</a>.
                </p>
            </div>

        </div>
    </div>

    <a href="https://github.com/jolicode/forecast-tools" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: fixed; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a>
{% endblock %}

{% block javascripts %}{% endblock %}
