<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ publicForecast.name }} | ⛅ Forecast tools{% endblock %}</title>
        {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ encore_entry_link_tags('forecast') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ path('homepage') }}">⛅&nbsp;Forecast&nbsp;tools</a>
                <div id="datepicker" class="form-inline">
                    <input type="text" name="daterange" class="form-control" value="{{ start|date("d/m/Y") }} - {{ end|date("d/m/Y") }}" />
                    <button type="button" class="btn btn-primary ml-3 charts-switch">📊 show/hide charts</button>
                </div>
            </nav>

            <div class="pb-5">
                {% if assignments|length > 1 %}
                    {% if assignments|length > 2 %}
                        {# when at least 2 projects, display the total #}
                        {{ include('home/_project.html.twig', {project: assignments.total, title: 'Total', slug: 'total'}) }}
                    {% endif %}

                    {% for key, project in assignments %}
                        {% if key != 'total' %}
                            {{ include('home/_project.html.twig', {project: project, title: project.client ~ ' / ' ~ project.project.name, slug: project.project.id}) }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if error is defined %}
                        <div class="m-3 alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="m-3 alert alert-secondary" role="alert">
                        There's no activity forecasted during this period.
                    </div>
                {% endif %}
            </div>
            <script>
            var baseUrl = '{{ url('public_forecast', { token: publicForecast.token }) }}';
            </script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('forecast') }}
        {% endblock %}
    </body>
</html>
