<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ publicForecast.name }} | ⛅ Forecast tools{% endblock %}</title>
        {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>{{ publicForecast.name }}</h1>

            <div id="datepicker">
                <input type="text" name="daterange" class="form-control pull-right" value="{{ start|date("d/m/Y") }} - {{ end|date("d/m/Y") }}" />
            </div>

            <div id="content">
                <table>
                    {% for project in assignments %}
                        <tr>
                            <th class="people">
                                &nbsp;
                            </th>
                            <th class="project" colspan="{{ days|length + 1 }}">
                                <h2>{{ project.client}} | {{ project.project.name}}</h2>
                            </th>
                        </tr>

                        <tr>
                            <th class="people">
                                &nbsp;
                            </th>
                            {% for month, columns in months %}
                                <th class="month" colspan="{{ columns }}">
                                    {{ month }}
                                </th>
                            {% endfor %}
                            <th class="month totalDays" rowspan="2">Total</th>
                        </tr>

                        <tr>
                            <th class="people">
                                &nbsp;
                            </th>
                            {% for day in days %}
                                <th class="day{% if day.day == today %} today{% endif %}{% if day.isFirstDayOfMonth %} firstDayOfMonth{% endif %}">
                                    {{ day.date|date('j') }}
                                </th>
                            {% endfor %}
                        </tr>

                        {% for user in project.users %}
                            <tr>
                                <th class="people">
                                    {{ user.name }}
                                </th>

                                {% for prettyDay in days %}
                                    {% set day = prettyDay.day %}
                                    <td class="assignement{% if user.days[day] is defined %} assigned{% endif %}{% if prettyDay.isWeekend %} weekend{% endif %}{% if day == today %} today{% endif %}{% if prettyDay.isFirstDayOfWeek %} firstDayOfWeek{% endif %}{% if prettyDay.isFirstDayOfMonth %} firstDayOfMonth{% endif %}">
                                        {% if user.days[day] is defined %}
                                            {{ user.days[day] }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                {% endfor %}

                                <td class="totalDays">{{ user.total }}</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <th class="separator" colspan="{{ days|length + 1 }}">
                                &nbsp;
                            </th>
                        </tr>

                        <tr>
                            <th class="total">
                                Total
                            </th>
                            {% for prettyDay in days %}
                                {% set day = prettyDay.day %}
                                <td class="assignement monthly total{% if prettyDay.isWeekend %} weekend{% endif %}{% if day == today %} today{% endif %}{% if prettyDay.isFirstDayOfWeek %} firstDayOfWeek{% endif %}{% if prettyDay.isFirstDayOfMonth %} firstDayOfMonth{% endif %}">
                                    {% if project.total[day] is defined %}
                                        {{ project.total[day] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                            <td class="monthly total totalDays" rowspan="2">{{ project.total_days }}</td>
                        </tr>

                        <tr>
                            <th class="total">
                                Weekly total
                            </th>
                            {% for week, columns in weeks %}
                                <td class="assignement week" colspan="{{ columns }}">
                                    {% if project.weekly_total[week] is defined %}
                                        {{ project.weekly_total[week] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>

                        <tr>
                            <td colspan="{{ days|length + 1 }}">
                                <canvas id="chart-{{ project.project.id }}" style="height: 300px; width: {{ 111 + 27 * days|length }}px" height="300"></canvas>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <script>
            var baseUrl = '{{ url('public_forecast', { token: publicForecast.token }) }}';
            document.addEventListener("DOMContentLoaded", function(event) {
                {% for project in assignments %}
                    var ctx = document.getElementById("chart-{{ project.project.id }}");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for prettyDay in days %}
                                    "{{ prettyDay.day }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                label: 'Total',
                                backgroundColor: 'rgba(0,70,150,.8)',
                                data: [
                                    {% for prettyDay in days %}
                                        {% set day = prettyDay.day %}
                                        {% if project.total[day] is defined %}
                                            {{ project.total[day] }},
                                        {% else %}
                                            0,
                                        {% endif %}
                                    {% endfor %}
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            layout: {
                                padding: {
                                    left: 120,
                                    right: 0,
                                    top: 0,
                                    bottom: 0
                                }
                            },
                            scales: {
                                xAxes: [{
                                    ticks: {
                                        autoSkip: false
                                    }
                                }],
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                {% endfor %}
            });
            </script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('forecast') }}
        {% endblock %}
    </body>
</html>
