{% extends 'organization/base.html.twig' %}

{% block content %}
    <div class="card card-body">
        {% if publicForecast is defined %}
            <h1>Edit public forecast "{{ publicForecast.name }}"</h1>
        {% else %}
            <h1>Create a new public forecast</h1>
        {% endif %}

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {% if publicForecast is defined %}
                <div class="form-group">
                    This public Forecast is available at <a href="{{ url('public_forecast', { token: publicForecast.token }) }}">{{ url('public_forecast', { token: publicForecast.token }) }}</a>.
                </div>

                <div class="form-group">
                    Created on <strong>{{ publicForecast.createdAt|date('F jS \\a\\t G:i') }}</strong> by <strong>{{ publicForecast.createdBy | default('(deleted user)') }}</strong>
                </div>
            {% endif %}

            {{ form_row(form.name) }}

            <div class="form-group">
                {{ form_label(form.clients) }}
                {{ form_errors(form.clients) }}
                <div>
                    {{ form_widget(form.clients, { attr: { class: 'select2 multiple' }}) }}
                </div>
                {{ form_help(form.clients) }}
            </div>

            <div class="form-group">
                {{ form_label(form.projects) }}
                {{ form_errors(form.projects) }}
                <div>
                    {{ form_widget(form.projects, { attr: { class: 'select2 multiple' }}) }}
                </div>
                {{ form_help(form.projects) }}
            </div>

            <div class="form-group">
                {{ form_label(form.people) }}
                {{ form_errors(form.people) }}
                <div>
                    {{ form_widget(form.people, { attr: { class: 'select2 multiple' }}) }}
                </div>
                {{ form_help(form.people) }}
            </div>

            <div class="form-group">
                {{ form_label(form.placeholders) }}
                {{ form_errors(form.placeholders) }}
                <div>
                    {{ form_widget(form.placeholders, { attr: { class: 'select2 multiple' }}) }}
                </div>
                {{ form_help(form.placeholders) }}
            </div>

            {% if publicForecast is defined %}
                <a class="float-right btn btn-danger" href="{{ organization_path('public_forecasts_delete', { publicForecastId: publicForecast.id })}}" role="button">Delete this public forecast</a>
            {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}
