{% extends 'organization/base.html.twig' %}

{% block title %}Public Forecasts | {{ parent() }}{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success fade show mb-3" role="alert">
            {{ message | raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% if publicForecasts|length > 0 %}
        <div class="card mb-4">
            <div class="card-header">
                <span class="float-right">
                    {% if is_granted('admin', forecastAccount) or forecastAccount.getAllowNonAdmins() %}
                        <a href="{{ organization_path('public_forecasts_create') }}" class="btn btn-primary">✨&nbsp;&nbsp;Add a public Forecast</a>
                    {% else %}
                        <a class="btn btn-primary disabled">✨&nbsp;&nbsp;Add a public Forecast</a> You must be a Forecast admin to add a public Forecast.
                    {% endif %}
                </span>
                <h2 class="mb-0">Public forecasts</h2>
            </div>
            <div class="card-body">
                {% for publicForecast in publicForecasts %}
                    <div class="card card-body pt-3 pb-3 pr-0 pl-0 border-top-0 border-right-0 border-left-0 rounded-0">
                        <div class="card-text">
                            <a href="{{ url('public_forecast', { token: publicForecast.token }) }}" class="btn btn-light border mr-3">🔗 View</a>
                            <a href="{{ organization_path('public_forecasts_delete', { publicForecastId: publicForecast.id }) }}" class="btn btn-danger float-right ml-3">🗑️&nbsp;&nbsp;Delete</a>
                            <a href="{{ organization_path('public_forecasts_edit', { publicForecastId: publicForecast.id }) }}" class="btn btn-primary float-right">✏️&nbsp;&nbsp;Edit</a>
                            <div class="d-inline-block align-middle" style="line-height: 1rem">
                                <h6 class="m-0" style="line-height: 1rem">{{ publicForecast.name }}</h6>
                                <small class="font-weight-light">created by <code>{{ publicForecast.createdBy | default('(deleted user)') }}</code> on <code>{{ publicForecast.createdAt|date('F jS, Y, G:i') }}</code></small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <h1>Add a public forecast</h1>

            <p>
                Adding a public forecast allows to share a part of your forecast publicly. Public forecasts are highly configurable,
                so you can share the forecast for a specific client, project or member. Once a public forecast has been created, you
                get a link with a unique and complicated URL that can be shared with your customer so they are aware of the schedule
                for their project.
            </p>
        </div>
        <div class="card-footer">
            {% if is_granted('admin', forecastAccount) or forecastAccount.getAllowNonAdmins() %}
                <a href="{{ organization_path('public_forecasts_create') }}" class="btn btn-primary">✨&nbsp;&nbsp;Add a public Forecast</a>
            {% else %}
                <a class="btn btn-primary disabled">✨&nbsp;&nbsp;Add a public Forecast</a> You must be a Forecast admin to add a public Forecast.
            {% endif %}
        </div>
    </div>
{% endblock %}
