{% extends 'organization/base.html.twig' %}

{% block title %}Public Forecasts | {{ parent() }}{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% if publicForecasts|length > 0 %}
        <div class="card mb-4 card-body">
            <h2>Public forecasts</h2>

            {% for publicForecast in publicForecasts %}
                <div class="card card-body">
                    <p class="card-text">
                        <a href="{{ url('public_forecast', { token: publicForecast.token }) }}" class="btn border mr-3">🔗 View</a>
                        <span class="d-inline-block align-middle" style="line-height: 1rem;">
                            {{ publicForecast.name }}<br />
                            <small>created by <code>{{ publicForecast.createdBy.name }}</code> on <code>{{ publicForecast.createdAt|date('F jS, Y, G:i') }}</code></small>
                        </span>
                        <a href="{{ organization_path('public_forecasts_delete', { publicForecastId: publicForecast.id }) }}" class="btn btn-danger float-right ml-3">🗑️&nbsp;&nbsp;Delete</a>
                        <a href="{{ organization_path('public_forecasts_edit', { publicForecastId: publicForecast.id }) }}" class="btn btn-primary float-right">✏️&nbsp;&nbsp;Edit</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="card card-body">
        <h1>Add a public forecast</h1>

        <p>
            Adding a public forecast allows to share a part of your forecast publicly. Public forecasts are highly configurable, so you can share the forecast of a specific client, project or member.
        </p>

        {% if is_granted('admin', forecastAccount) %}
            <p>
                <a href="{{ organization_path('public_forecasts_create') }}" class="btn btn-primary">✨&nbsp;&nbsp;Add a public Forecast</a>
            </p>
        {% else %}
            <p>
                <a class="btn btn-primary disabled">✨&nbsp;&nbsp;Add a public Forecast</a> You must be a Forecast admin to add a public Forecast.
            </p>
        {% endif %}
    </div>
{% endblock %}
