{% extends 'organization/base.html.twig' %}

{% block title %}Account settings | {{ parent() }}{% endblock %}

{% block content %}
    {{ include('organization/settings/_menu.html.twig', {menu: 'account'}) }}
    <div class="card border-top-0">
        {{ form_start(form) }}
            <div class="card-body">
                {{ form_errors(form) }}

                {{ form_row(form.defaultForecastAccount) }}
            </div>
            <div class="card-footer text-end">
                {{ form_widget(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
