{% extends 'organization/base.html.twig' %}

{% block title %}Slack settings | {{ parent() }}{% endblock %}

{% block content %}
    {{ include('organization/settings/_menu.html.twig', {menu: 'slack'}) }}
    <div class="card border-top-0">
        {% if  forecastAccount.slackChannels|length > 0 %}
            <div class="card-body mb-4 flex-wrap flex-row">
                <h2>Available workspaces</h2>
                <div style="flex-basis: 100%;"></div>

                {% for slackChannel in forecastAccount.slackChannels %}
                    <div class="card card-body col-md-4 col-xl-3 mt-3 mr-3">
                        <a data-href="{{ organization_path('settings_slack_delete', {slackChanneId: slackChannel.id})}}" class="close position-absolute" aria-label="Close" style="top: 1rem; right: 1rem"  data-toggle="modal" data-target="#confirm-delete">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <h5 class="card-title">{{ slackChannel.teamName }}</h5>
                        <p class="card-text">
                            Posts in <code>{{ slackChannel.webhookChannel }}</code><br />
                            Added by <code>{{ slackChannel.updatedBy.name }}</code><br />
                            Added on <code>{{ slackChannel.updatedAt|date('F jS, Y, G:i')  }}</code>
                        </p>
                        <p>
                            <a href="{{ slackChannel.webhookConfigurationUrl }}" class="btn btn-primary">✏️&nbsp;&nbsp;Manage on Slack</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card-body">
            <h2>Register a Slack workspace</h2>

            <p>
                Adding the Slack application to a Slack workspace installs a <code>/forecast</code> command
                in this workspace and allows to get a <a href="{{ organization_path('reminder_index') }}">Forecast
                reminder</a> on a regular basis. Installing a Slack application also allows to send a monthly Harvest
                timesheet reminder, in order to get your users fill their timesheets.
            </p>

            <p>
                <a href="{{ organization_path('settings_slack_install') }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
            </p>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete this Slack workspace?
                </div>
                <div class="modal-body">
                    Do you really want to delete this Slack workspace? If you confirm, the reminder
                    will not be sent to this workspace anymore.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Yes, delete</a>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        jQuery('#confirm-delete').on('show.bs.modal', function(e) {
            jQuery(this).find('.btn-ok').attr('href', jQuery(e.relatedTarget).data('href'));
        });
    });
    </script>
{% endblock %}
