{% extends 'organization/base.html.twig' %}

{% block title %}Reminder | {{ parent() }}{% endblock %}

{% form_theme form _self %}

{% block _forecast_reminder_projectOverrides_entry_row %}
    <div class="d-flex flex-wrap flex-row">
        <div class="col-md-5 p-0">
            {{ form_label(form.projectId, null, { label_attr: { class: 'd-md-none' }}) }}
            {{ form_errors(form.projectId) }}
            {{ form_widget(form.projectId) }}
            {{ form_help(form.projectId) }}
        </div>
        <div class="col-md-5 p-0 pl-md-3">
            {{ form_label(form.name, null, { label_attr: { class: 'd-md-none' }}) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { attr: { class: 'form-control' }}) }}
            {{ form_help(form.name) }}
        </div>
    </div>
{% endblock %}

{% block _forecast_reminder_clientOverrides_entry_row %}
    <div class="d-flex flex-wrap flex-row">
        <div class="col-md-5 p-0">
            {{ form_label(form.clientId, null, { label_attr: { class: 'd-md-none' }}) }}
            {{ form_errors(form.clientId) }}
            {{ form_widget(form.clientId) }}
            {{ form_help(form.clientId) }}
        </div>
        <div class="col-md-5 p-0 pl-md-3">
            {{ form_label(form.name, null, { label_attr: { class: 'd-md-none' }}) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { attr: { class: 'form-control' }}) }}
            {{ form_help(form.name) }}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% if forecastAccount.forecastAccountSlackTeams|length == 0 %}
        {% set disabled = ' disabled' %}
    {% else %}
        {% set disabled = '' %}
    {% endif %}

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="workspaces-tab" data-toggle="tab" href="#nav-workspaces" role="tab" aria-controls="nav-workspaces" aria-selected="true">Schedule</a>
            <a class="nav-item nav-link{{ disabled }}" id="labels-tab" data-toggle="tab" href="#nav-labels" role="tab" aria-controls="nav-labels" aria-selected="false">Labels</a>
            <a class="nav-item nav-link{{ disabled }}" id="users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="false">Users</a>
            <a class="nav-item nav-link{{ disabled }}" id="project-overrides-tab" data-toggle="tab" href="#nav-project-overrides" role="tab" aria-controls="nav-project-overrides" aria-selected="false">Project overrides</a>
            <a class="nav-item nav-link{{ disabled }}" id="client-overrides-tab" data-toggle="tab" href="#nav-client-overrides" role="tab" aria-controls="nav-client-overrides" aria-selected="false">Client overrides</a>
        </div>
    </nav>

    <div class="card border-top-0">
        {{ form_start(form) }}
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane show active" id="nav-workspaces" role="tabpanel" aria-labelledby="workspaces-tab">
                    <div class="card-body">
                        {{ form_errors(form) }}
                        {{ form_row(form.cronExpression) }}

                        {% if forecastAccount.forecastAccountSlackTeams|length == 0 %}
                            <div class="alert alert-danger mb-0 d-flex" role="alert">
                                <div class="flex-grow-1 py-1">This reminder cannot be executed, as no Slack workspace has been added to your account.</div>
                            </div>
                        {% elseif forecastAccount.forecastReminder is null or forecastAccount.forecastReminder.isMuted %}
                            <div class="alert alert-danger mb-0 d-flex" role="alert">
                                <div class="flex-grow-1 py-1">This reminder does not post in any Slack team. Please choose a Channel for at least one Slack team.</div>
                            </div>
                        {% endif %}

                        <div class="d-flex flex-wrap flex-row">
                            {% if forecastAccount.forecastAccountSlackTeams|length > 0 %}
                                {% for forecastAccountSlackTeamForm in form.forecastAccount.forecastAccountSlackTeams %}
                                    {% set forecastAccountSlackTeam = forecastAccountSlackTeamForm.vars.value %}
                                    <div class="col-md-4 col-xl-3 mt-3 mr-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <a data-href="{{ organization_path('settings_slack_delete', {forecastAccountSlackTeamId: forecastAccountSlackTeam.id})}}" class="close position-absolute" aria-label="Close" style="top: 1rem; right: 1rem"  data-toggle="modal" data-target="#confirm-delete">
                                                    <span aria-hidden="true">&times;</span>
                                                </a>
                                                <h5 class="card-title">{{ forecastAccountSlackTeam.slackTeam.teamName }}</h5>
                                                <p class="card-text">
                                                    Added by <code>{{ forecastAccountSlackTeam.updatedBy | default('(deleted user)') }}</code><br />
                                                    Added on <code>{{ forecastAccountSlackTeam.updatedAt|date('F jS, Y, G:i')  }}</code><br />
                                                    {% if forecastAccountSlackTeam.channel %}
                                                        Posts in <code>{{ forecastAccountSlackTeam.channel }}</code><br />
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="card-footer">
                                                {{ form_label(forecastAccountSlackTeamForm.channelId) }}
                                                {{ form_errors(forecastAccountSlackTeamForm.channelId) }}
                                                {{ form_widget(forecastAccountSlackTeamForm.channelId, { attr: { class: 'form-control' }}) }}
                                                {{ form_help(forecastAccountSlackTeamForm.channelId) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="card card-body col-md-4 col-xl-3 mt-3 mr-3">
                                <h5 class="card-title">Add a Slack workspace</h5>
                                {% if is_granted('admin', forecastAccount) %}
                                    <p class="card-text">
                                        <a href="{{ organization_path('settings_slack') }}">Add a Slack workspace</a> to receive the reminder in this workspace.
                                    </p>
                                    <p class="card-text">
                                        If you add several workspaces, the reminder will be sent to all of these workspaces.
                                    </p>
                                    <p>
                                        <a href="{{ organization_path('settings_slack_install') }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
                                    </p>
                                {% else %}
                                    <p class="card-text">
                                        Only your Forecast admins are allowed to setup and configure Slack reminders. To enable Slack reminders for your Forecast Account, ask a Forecast admin to add a Slack workspace to your organization.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="nav-labels" role="tabpanel" aria-labelledby="labels-tab">
                    <div class="card-body">
                        {{ form_row(form.defaultActivityName) }}

                        <div class="form-group">
                            {{ form_label(form.timeOffProjects) }}
                            {{ form_errors(form.timeOffProjects) }}
                            {{ form_widget(form.timeOffProjects, { attr: { class: 'select2 multiple' }}) }}
                            {{ form_help(form.timeOffProjects) }}
                        </div>

                        {{ form_row(form.timeOffActivityName) }}
                    </div>
                </div>

                <div class="tab-pane" id="nav-users" role="tabpanel" aria-labelledby="users-tab">
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.onlyUsers) }}
                            {{ form_errors(form.onlyUsers) }}
                            {{ form_widget(form.onlyUsers, { attr: { class: 'select2 multiple' }}) }}
                            {{ form_help(form.onlyUsers)|raw }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.exceptUsers) }}
                            {{ form_errors(form.exceptUsers) }}
                            {{ form_widget(form.exceptUsers, { attr: { class: 'select2 multiple' }}) }}
                            {{ form_help(form.exceptUsers)|raw }}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="nav-project-overrides" role="tabpanel" aria-labelledby="project-overrides-tab">
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.projectOverrides, null, { label_attr: { class: 'd-md-none' }}) }}
                            {{ form_help(form.projectOverrides, { help_attr: { class: 'text-normal' }}) }}
                            {{ form_errors(form.projectOverrides) }}
                            <div>
                                {{ form_widget(form.projectOverrides, { attr: { class: 'dynamic-form-container' }}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="nav-client-overrides" role="tabpanel" aria-labelledby="client-overrides-tab">
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_label(form.clientOverrides, null, { label_attr: { class: 'd-md-none' }}) }}
                            {{ form_help(form.clientOverrides, { help_attr: { class: 'text-normal' }}) }}
                            {{ form_errors(form.clientOverrides) }}
                            <div>
                                {{ form_widget(form.clientOverrides, { attr: { class: 'dynamic-form-container' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-right">
                {% if forecastAccount.forecastReminder %}
                    <small class="float-left mt-2">
                        last updated by <code>{{ forecastAccount.forecastReminder.updatedBy | default('(deleted user)') }}</code>
                        on <code>{{ forecastAccount.forecastReminder.updatedAt|date('F jS, Y, G:i')  }}</code>
                    </small>
                {% endif %}
                {{ form_widget(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Delete this Slack workspace?
                </div>
                <div class="modal-body">
                    Do you really want to delete this Slack workspace? If you confirm, the reminder
                    will not be sent to this workspace anymore.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Yes, delete</a>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        dynamicForm('add a new override');

        jQuery('#confirm-delete').on('show.bs.modal', function(e) {
            jQuery(this).find('.btn-ok').attr('href', jQuery(e.relatedTarget).data('href'));
        });
    });
    </script>
{% endblock %}
